// Blog Page Body
.blog {

  // Comments Section
  .user-image-container {
    max-width: 100px;
    padding-top: 10px;
  }

  .user-comment p:first-of-type {
    font-weight: 700;
    text-transform: uppercase;
  }

  .comments,
  .comments .flex-container:first-of-type {
    padding-bottom: 80px;

    .flex-container {
      @include flex(flex-start, 0, 0);
    }

    h3,
    .flex-container {
      padding-bottom: 40px;
    }
  }

  .user-comment {
    max-width: 700px;
    padding-left: 40px;
  }

  
  input[type="text"],
  input[type="email"],
  textarea {
    background: $primary; 
  }

  // End of .blog
}
