.contact {

  main {
    background: $primary;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  input[type="text"],
  input[type="email"],
  textarea, form {
    background: $secondary;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    padding-left: 20px;
  }


  form {
    width: 55%;
    padding: 50px;
    box-shadow: 25px 25px 0 -10px $shadow;

    position: relative;
    bottom: 100px;
  }

  .social {

    ul {
      display: flex;
      padding-bottom: 10px;

      a {
        padding: 10px 10px;
        font-size: 2rem;
        color: $button;
      }
    }

    p:first-of-type {
      padding: 0 0 20px 10px;
    }

    p:not(:first-of-type) {
      padding-left: 10px;
    }

  }


// End of .contact
}