// Skip to Main Link
.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

// Navigation Menu
header nav ul {
  @include flex(flex-end, center);
  padding-top: 20px;
  li {
    padding-left: 20px;
    a {
      display: inline-block;
      padding: 10px 0 0 10px;

      &:hover,
      &:focus {
        color: $button;
      }
    }
  }
}

// Mobile Nav
.mobile-nav {
  display: none;
}


// Blog & Contact 
  // Logo
.blog nav,
.contact nav {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  align-self: flex-end;
  max-width: 225px;
  padding-top: 20px;
}

// H1
.blog h1,
.contact h1 {
  padding-top: 100px;
}



