// Landing Page Body 
.index {
  
  // Materials Section
  .materials {
    padding: 5% 0 10% 0;
    background: $secondary;
  }

  .container {
    @include flex(0, 0, wrap);
  }

  .materials-text-container {
    flex: 1 0 500px;

    p {
      padding: 10px 15% 10px 0;
    }
  }

  .materials-image-container {
    height: 100%;
    flex: 0 0 400px;
    box-shadow: -20px 20px $shadow;
  }

  // Gallery Section
  .gallery {
    background: $primary;
    padding: 80px 0 80px 0;

    ul {
      @include flex(space-between, 0, wrap);

      li {
        width: calc(33% - 20px);
      }

      li:not(li:last-of-type) {
        margin-right: 20px;
      }
    }
  }

  // Services Section
  .services,
  .services ul {
    position: relative;
  }

  .services {
    background: $secondary;
    padding: 80px 0 40px 0;

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      i {
        font-size: 2.5rem;
        background: $shadow;
        text-align: center;
        
        width: 50px;
        height: 50px;
        
        border-radius: 50%;
        padding-top: 12px;
        margin-right: 20px;
        
        float: left;
      }

      p {
        padding: 0 0 50px 70px;
      }

    }
  }

  // Features Section
  .features {
    background: $primary;
    padding: 80px 0 60px 0;
    position: relative;

    .image-container:first-of-type {
      img {
        box-shadow: 25px 25px 0 -10px $shadow;
      }
      top: -30px;
      left: 0;
    }

    .image-container:not(:first-of-type) {
      img {
        box-shadow: -25px 25px 0 -10px $shadow;
      }
      bottom: -30px;
      right: 0;
    }

    .image-container {
      position: absolute;
      max-width: 700px;
    }
    
    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 100px;
    }
        
    .programs {
      grid-column: 2;
      margin-left: 15%;
      
      p {
        padding: 0 40px 25px 0;
      }
    }
    
    .locations {
      text-align: right;
      grid-row: 2;
      margin-right: 15%;
      
      p {
        padding: 0 0 25px 40px;
      }
    }      
  }

// End of Body .index 
}



