// Landing Page Body 
.index {

// Footer
footer {
  .background {
    height: 60vh;
    background: url(../assets/banner-image.jpg) no-repeat top/cover;
  }

  .text-container {
    padding: 100px 0;
    text-align: center;
    width: 70%;
    margin: 0 auto;

    p {
      padding-bottom: 20px;
    }
  }
  
}


// End of .index
}