
// Landing Page Body 
.index {
  
  // Materials Section
  .materials {
    padding: 15% 0 10% 0;
    background: $secondary;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .materials-text-container {
    flex: 1 0 70%;

    p {
      padding: 10px 15% 10px 0;
    }
  }

  .materials-image-container {
    height: 100%;
    flex: 1 0 30%;
    box-shadow: -20px 20px $shadow;
  }

  // Gallery Section
  .gallery {
    background: $primary;
    padding: 80px 0 80px 0;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        width: calc(33% - 20px);
      }

      li:not(li:last-of-type) {
        margin-right: 20px;
      }
    }
  }

  // Services Section
  .services {
    background: $secondary;
    padding: 80px 0 80px 0;

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }

  // Features Section
  .features {
    background: $primary;
    
  }




}



