
// Landing Page Body 
.index {
  
  // Materials Section
  .materials {
    padding: 15% 0 10% 0;
    background: $secondary;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .materials-text-container {
    flex: 1 0 70%;

    p {
      padding: 10px 15% 10px 0;
    }
  }

  .materials-image-container {
    height: 100%;
    flex: 1 0 30%;
    box-shadow: -20px 20px $shadow;
  }

  // Gallery Section
  .gallery {
    background: $primary;
    padding: 80px 0 80px 0;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        width: calc(33% - 20px);
      }

      li:not(li:last-of-type) {
        margin-right: 20px;
      }
    }
  }

  // Services Section
  .services {
    background: $secondary;
    padding: 80px 0 80px 0;

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }

  // Features Section
  .features {
    background: $primary;
    position: relative;
    padding: 100px 0 100px 0;

    .features-image-container:first-of-type {
      img {
        box-shadow: 25px 25px 0 -10px $shadow;
      }
      top: 0;
      left: 0;

    }

    .features-image-container:last-of-type {
      img {
        box-shadow: -25px 25px 0 -10px $shadow;
      }
      bottom: 0;
      right: 0;

    }

    .features-image-container {
      position: absolute;
      width: 550px;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);





    }




  }




}



