// Medium Screens
@media(max-width: 1350px) {

  .index {

    header {
    background-position: 0% 80%, top right;
    }

    .materials-text-container {
      padding-right: 30px;
    }

    .features .image-container {
      max-width: 550px;
    }

    // End of .index
  }
  // End of Query
}

// Smaller Screens / Large Tablets
@media (max-width: 1090px) {

  .index {

    h2 {
      line-height: 1.2;
    }

    header {
      height: 80vh;
      background-position: 0% 70%, top right;
    }

    // Materials
    .materials {
      padding-top: 0;

      .materials-text-container {
        padding: 0 0 80px 0;
      }

      .materials-image-container {
        margin: 0 auto;
      }

      p {
        padding-right: 0;
      }
    }

    .gallery {
      li {
        margin: 40px auto;
        min-width: 40%;
      }
    }

    .services {
      h2 {
        font-size: 2.8rem;
      }

      ul i {
        margin-top: -12px;
      }
    }

    .features {
      .image-container {
        position: static;
      }

      .grid-container {
        gap: 50px;
      }
    }

    // End of .index
  }
// End of Query
}

// Tablets
@media (max-width: 900px) {

  .index {

    // Header
    header {
      height: 70vh;

      nav li:first-of-type a {
        @include selected(47px);
      }

      nav li {
        padding: 0 30px;
      }

      h1 {
        padding-left: 0;
      }
    }

    .materials h2 {
      font-size: 2.8rem;
    }

    .features {
      .grid-container {
        display: block;
      }

      .image-container {
        margin: 0 auto;
        padding: 40px 0;
      }
    }

    // Footer
    footer {
      .background {
        height: 35vh;
        background-size: cover;
      }

      .text-container {
        padding: 50px 0;
      }
    }

    // End of .index
  }
// End of Query
}

// Small Tablets / Large Mobile
@media (max-width: 630px) {

  .index {

    header {
      height: 55vh;
      background-position: 0% 70%, top right;
      background-size: 0%, cover;

      h1 {
        font-size: 5rem;
        padding: 60px 0 0 0;
      }
    }

    // Materials
    .materials-text-container,
    .materials-image-container {
      max-width: 100%;
    }

    .materials-image-container {
      box-shadow: none;
      border: 15px solid $shadow;
    }

    // Gallery
    .gallery {
      padding: 30px 0;

      ul {
        flex-direction: column;
      }

      li {
        min-width: 90%;
      }
    }


    .services {
      padding-bottom: 25px;
    }

    .services ul {
      display: block;
      margin: 0 auto;

      i {
        height: 45px;
      }
    }

    .materials, .services, .features {
      h2 {
        font-size: 2.5rem;
      }
    }

    footer {
      .text-container {
        width: 100%;
      }

      .background {
        height: 25vh;
        background-size: cover;
      }
    }

    // End of .index
  }
  // End of Query
}


// Mobile / Smallest Screens
@media (max-width: 450px) {

  .index {

    header {
      height: 50vh;
      background-size: 0%, cover;
    }    

    .materials {
      padding-bottom: 40px;

      .materials-text-container {
        padding-bottom: 40px;
      }
    }

    .gallery {
      padding: 15px 0;
      li {
      margin: 20px auto;
      }
    }

    .services {
      padding: 40px 0;
      
      ul li:last-of-type p {
        padding-bottom: 0;
      }
      
      ul li { 
        p {
          padding-left: 0;
        }

        h2 {
          padding-bottom: 15px;
        }
      }
    }

    .features {
      padding: 0 0 40px 0;
      .text-container {
        margin: 0;

        p {
          padding: 0 0 25px 0;
        }
      }
    }

    footer .text-container {
      padding: 40px 0;
    }
    // End of .index
  }

  p {
    line-height: 2.5rem;
  }

// End of Query
}