// Navigation
@mixin flex($mainax, $crossax) {
  display: flex;
  justify-content: $mainax;
  align-items: $crossax;
}

// Navigation pseudo underline 
@mixin selected($width) {
  &:after {
    content: '';
    display: block;
    background: $shadow;
    height: 2px;
    width: $width;
  
    position: absolute;
    bottom: 0;
  }
}