
h1, h2, h3, a, button {
  text-transform: uppercase;
}

h1, h2, h3, p, nav a {
  color: $typo;
}

h1 {
  font-family: $header;
  font-size: 6.8rem;
  line-height: 6.4rem;
}

h2, .nav-logo, button {
  font-family: $sub-head;
}

h2 {
  font-size: 3.3rem;
  line-height: 5.8rem;
  letter-spacing: 2.1px;
}

.nav-logo {
  font-size: 2.2rem;
  line-height: 2.4rem;
  letter-spacing: 1.2px;
}

nav a {
  font-family: $base;
  line-height: 2.9rem;
  letter-spacing: 1.4px;
  font-weight: 700;
}

nav a, .btn, p {
  font-size: 2rem;
}

nav a, .btn {
  text-align: center;
}

.btn, p {
  line-height: 3.2rem;
}

.btn {
  letter-spacing: 1px;
  color: $secondary;
  background: $button;
  font-family: $sub-head;
}

p {
  letter-spacing: 2px;
}