// Colours
$primary: #E0FDDF;
$secondary :#F5F5F5;
$shadow: #F8FB05;
$button: #065635;
$typo: #151514;

// Typography

  // Heading
$header: 'Kumar One Outline', cursive;

  // Sub-headings, Logo, Buttons 
$sub-head: 'Kumar One', cursive;

  // Navigation, Body
$base: 'Lato', sans-serif;