html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3, a, button, .nav-logo, input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  text-transform: uppercase;
}

h1, h2, h3, a, button, .nav-logo, input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  text-transform: uppercase;
}

h1, h2, h3, a, button, .nav-logo, input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  text-transform: uppercase;
}

h1, h2, h3, a, button, .nav-logo, input::placeholder,
textarea::placeholder {
  text-transform: uppercase;
}

h1, h2, h3, p, nav a, input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #151514;
}

h1, h2, h3, p, nav a, input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #151514;
}

h1, h2, h3, p, nav a, input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #151514;
}

h1, h2, h3, p, nav a, input::placeholder,
textarea::placeholder {
  color: #151514;
}

h1 {
  font-family: "Kumar One Outline", cursive;
  font-size: 6.8rem;
  line-height: 6.4rem;
}

h2, h3, .nav-logo, button {
  font-family: "Kumar One", cursive;
}

h2 {
  font-size: 3.3rem;
  line-height: 5.8rem;
  letter-spacing: 2.1px;
}

.nav-logo, h3 {
  font-size: 2.2rem;
  line-height: 2.4rem;
  letter-spacing: 1.2px;
}

nav a {
  line-height: 2.9rem;
  letter-spacing: 1.4px;
  font-weight: 700;
}

nav a, .btn, p, input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 2rem;
}

nav a, .btn, p, input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 2rem;
}

nav a, .btn, p, input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-size: 2rem;
}

nav a, .btn, p, input::placeholder,
textarea::placeholder {
  font-size: 2rem;
}

nav a, .btn {
  text-align: center;
}

.btn, p {
  line-height: 3.2rem;
}

.btn {
  letter-spacing: 1px;
  color: #F5F5F5;
  background: #065635;
  font-family: "Kumar One", cursive;
}

p, input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  letter-spacing: 2px;
}

p, input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  letter-spacing: 2px;
}

p, input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  letter-spacing: 2px;
}

p, input::placeholder,
textarea::placeholder {
  letter-spacing: 2px;
}

nav a, p {
  font-family: "Lato", sans-serif;
}

.copyright p, .copyright a {
  color: #F5F5F5;
  font-size: 1.6rem;
}

.wrapper {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 10px 15px 4px 15px;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

header nav ul li {
  padding-left: 20px;
}

header nav ul li a {
  display: inline-block;
  padding: 10px 0 0 10px;
}

h1 {
  width: 70%;
}

.blog nav,
.contact nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-logo {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 300px;
  padding-top: 20px;
}

.blog h1,
.contact h1 {
  padding-top: 100px;
}

.index header {
  height: 100vh;
  background: url(../assets/header-box.png) no-repeat 0% 100%/50%, url(../assets/header-home.jpg) no-repeat top right/contain, #F5F5F5;
}

.index nav li:first-of-type a {
  position: relative;
}

.index nav li:first-of-type a:after {
  content: '';
  display: block;
  background: #F8FB05;
  height: 2px;
  width: 65px;
  position: absolute;
  bottom: 0;
}

.index h1 {
  padding: 4% 0 0 5%;
}

.blog header {
  height: 70vh;
  background: url(../assets/blog-image.jpg) no-repeat top/cover;
}

.blog nav li:nth-of-type(3) a {
  position: relative;
}

.blog nav li:nth-of-type(3) a:after {
  content: '';
  display: block;
  background: #F8FB05;
  height: 2px;
  width: 58px;
  position: absolute;
  bottom: 0;
}

.contact header {
  height: 70vh;
  background: url(../assets/contact-image.jpg) no-repeat top/cover;
}

.contact nav li:nth-of-type(4) a {
  position: relative;
}

.contact nav li:nth-of-type(4) a:after {
  content: '';
  display: block;
  background: #F8FB05;
  height: 2px;
  width: 105px;
  position: absolute;
  bottom: 0;
}

.index .materials {
  padding: 5% 0 10% 0;
  background: #F5F5F5;
}

.index .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.index .materials-text-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 500px;
          flex: 1 0 500px;
}

.index .materials-text-container p {
  padding: 10px 15% 10px 0;
}

.index .materials-image-container {
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
  -webkit-box-shadow: -20px 20px #F8FB05;
          box-shadow: -20px 20px #F8FB05;
}

.index .gallery {
  background: #E0FDDF;
  padding: 80px 0 80px 0;
}

.index .gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index .gallery ul li {
  width: calc(33% - 20px);
}

.index .gallery ul li:not(li:last-of-type) {
  margin-right: 20px;
}

.index .services {
  background: #F5F5F5;
  padding: 80px 0 40px 0;
  position: relative;
}

.index .services ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  position: relative;
}

.index .services ul i {
  font-size: 2.5rem;
  background: #F8FB05;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-top: 12px;
  margin-right: 20px;
  float: left;
}

.index .services ul p {
  padding: 0 0 50px 70px;
}

.index .features {
  background: #E0FDDF;
  padding: 80px 0 60px 0;
  position: relative;
}

.index .features .image-container:first-of-type {
  top: -30px;
  left: 0;
}

.index .features .image-container:first-of-type img {
  -webkit-box-shadow: 25px 25px 0 -10px #F8FB05;
          box-shadow: 25px 25px 0 -10px #F8FB05;
}

.index .features .image-container:not(:first-of-type) {
  bottom: -30px;
  right: 0;
}

.index .features .image-container:not(:first-of-type) img {
  -webkit-box-shadow: -25px 25px 0 -10px #F8FB05;
          box-shadow: -25px 25px 0 -10px #F8FB05;
}

.index .features .image-container {
  position: absolute;
  max-width: 700px;
}

.index .features .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 100px;
}

.index .features .programs {
  -ms-grid-column: 2;
  grid-column: 2;
  margin-left: 15%;
}

.index .features .programs p {
  padding: 0 40px 25px 0;
}

.index .features .locations {
  text-align: right;
  -ms-grid-row: 2;
  grid-row: 2;
  margin-right: 15%;
}

.index .features .locations p {
  padding: 0 0 25px 40px;
}

.blog main,
.blog .comments {
  background: #E0FDDF;
}

.blog .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog .blog-post {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 600px;
          flex: 1 0 600px;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.blog .blog-image-container {
  padding-bottom: 10px;
  padding-right: 10px;
  background: #F5F5F5;
  position: relative;
}

.blog .blog-image-container img {
  -webkit-box-shadow: 25px 25px 0 -10px #F8FB05;
          box-shadow: 25px 25px 0 -10px #F8FB05;
}

.blog .blog-text-container {
  background: #F5F5F5;
  -webkit-box-shadow: 5px 5px #F8FB05;
          box-shadow: 5px 5px #F8FB05;
  padding-left: 50px;
}

.blog .blog-text-container h2 {
  line-height: 1.3;
  padding-top: 20px;
}

.blog .blog-text-container p:first-of-type {
  font-style: italic;
  font-size: 1.8rem;
  padding: 10px 0;
}

.blog .blog-text-container p:first-of-type span {
  font-weight: 700;
}

.blog .blog-text-container p:not(:first-of-type) {
  padding-bottom: 20px;
}

.blog .sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  margin: 100px 0 0 200px;
}

.blog .sidebar-image-container img {
  -webkit-box-shadow: -15px 15px #F8FB05;
          box-shadow: -15px 15px #F8FB05;
}

.blog .sidebar-text-container {
  background: #F8FB05;
  -webkit-transform: translate(-15px);
          transform: translate(-15px);
  padding: 0 0 20px 15px;
  width: 103.5%;
}

.blog .sidebar-text-container p {
  width: 90%;
}

.blog .sidebar-text-container h3 {
  padding: 20px 0 10px 0;
}

.blog .sidebar-text-container li {
  list-style: disc;
  font-size: 2.2rem;
  margin-left: 25px;
}

.contact main {
  background: #E0FDDF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea, .contact form {
  background: #F5F5F5;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  padding-left: 20px;
}

.contact form {
  width: 55%;
  padding: 50px;
  -webkit-box-shadow: 25px 25px 0 -10px #F8FB05;
          box-shadow: 25px 25px 0 -10px #F8FB05;
  position: relative;
  bottom: 100px;
}

.contact .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}

.contact .social ul a {
  padding: 10px 10px;
  font-size: 2rem;
  color: #065635;
}

.contact .social p:first-of-type {
  padding: 0 0 20px 10px;
}

.contact .social p:not(:first-of-type) {
  padding-left: 10px;
}

.copyright {
  background: #151514;
  text-align: center;
}

form {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  opacity: 1;
  padding: 20px 0 0 20px;
}

form input:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
  opacity: 1;
  padding: 20px 0 0 20px;
}

form input::-ms-input-placeholder,
form textarea::-ms-input-placeholder {
  opacity: 1;
  padding: 20px 0 0 20px;
}

form input::placeholder,
form textarea::placeholder {
  opacity: 1;
  padding: 20px 0 0 20px;
}

form .form-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form input[type="text"],
form input[type="email"],
form textarea {
  border: none;
  padding: 30px 0 30px 40px;
}

form input[type="text"] {
  margin-right: 40px;
}

form input[type="text"],
form input[type="email"] {
  border-bottom: 2px solid #065635;
  width: calc(50% - 20px);
}

form textarea {
  resize: none;
  border: 2px solid #065635;
  padding-bottom: 150px;
  margin: 40px 0;
}

form .btn {
  border: none;
}

.index footer .background {
  height: 60vh;
  background: url(../assets/banner-image.jpg) no-repeat top/cover;
}

.index footer .text-container {
  padding: 100px 0;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.index footer .text-container p {
  padding-bottom: 20px;
}

.blog .user-image-container {
  max-width: 100px;
  padding-top: 10px;
}

.blog .user-comment p:first-of-type {
  font-weight: 700;
  text-transform: uppercase;
}

.blog .comments {
  padding-bottom: 80px;
}

.blog .comments .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 40px;
}

.blog .comments h3 {
  padding-bottom: 40px;
}

.blog .comments .flex-container:first-of-type {
  padding-bottom: 80px;
}

.blog .user-comment {
  max-width: 700px;
  padding-left: 40px;
}

.blog input[type="text"],
.blog input[type="email"],
.blog textarea {
  background: #E0FDDF;
}

@media (max-width: 1350px) {
  html {
    font-size: 55%;
  }
  .index header {
    background-position: 0% 80%, top right;
  }
  .index .materials-text-container {
    padding-right: 30px;
  }
  .index .features .image-container {
    max-width: 550px;
  }
}

@media (max-width: 1090px) {
  html {
    font-size: 50%;
  }
  .index header {
    height: 80vh;
    background-position: 0% 70%, top right;
  }
  .index .materials {
    padding-top: 0;
  }
  .index .materials .materials-text-container {
    padding: 0 0 80px 0;
  }
  .index .materials .materials-image-container {
    margin: 0 auto;
  }
  .index .materials p {
    padding-right: 0;
  }
  .index .gallery li {
    margin: 40px auto;
    min-width: 40%;
  }
  .index .services h2 {
    font-size: 2.8rem;
  }
  .index .features .image-container {
    position: static;
  }
  .index .features .grid-container {
    gap: 50px;
  }
}

@media (max-width: 900px) {
  .index header {
    height: 70vh;
    background-position: 0% 70%, top right;
  }
  .index .features .grid-container {
    display: block;
  }
  .index .features .image-container {
    margin: 0 auto;
    padding: 40px 0;
  }
}
